header {
	background: $cor-header;
	color: $cor-bkg;
	text-transform: uppercase;
	&#header-principal{
		h1,h2{
			text-align: center;
			padding: 0 15%;
		}
		h2{
			font-weight: 400;
			font-size:$font-peq;
			border-bottom: 1px solid $cor-bkg;
    		padding-bottom: 20px;
		}
	}
}