html {
	height: 100%;
	box-sizing: border-box;
}
body{
	background: $cor-bkg;
	color:$cor-font;
	font-family: $font-family-principal;
	font-size: $font-peq;
	line-height: $font-line;
	min-height: 100%;
	padding-bottom: 8px;
	h1{
		
		font-weight: 600;
		font-size:$font-grd;
	}
	h2{
		font-weight: bold;
		font-size:$font-med;
	}
	h1, h2, h3, h4, h5, h6{
		font-family:$font-family-principal;
		font-style: normal;
		line-height:100%;
		margin-bottom: 20px;
	}
	a{
		color:$cor-font;
		text-decoration: none;
		&:hover,
		&:hover,
		&:focus{
			color:$cor-footer;
		}
	}
	img{
		height: auto;
		max-width: 100%;
		width: 100%;
	}
	small{
		font-size: 10px;
		line-height:$font-line;
	}
	main,
	header,
	aside{
		position: relative;
	}
	aside{
		&#info-principal{
			background: $cor-header;
			color: $cor-bkg;
		}
		.profile,
		.contact,
		.skill{
			width: 100%;
		}
		.skill{
			.bars{
				background: transparent;
				border: 1px solid $cor-bkg;
				position: relative;
				height: 25px;
				width: 100%;
				&::after {
					background:  $cor-bkg;
					content: '';
					position: absolute;
					left: 0; 
					top: 0; 
					bottom: 0;
					transition: width 6s ease-in-out;
					/*animation: loading 6s ease-in-out infinite;*/
					width: 70%;
				}
			}
		}
	}
	main{
		height: 100%;
		max-height: 100%;
		display: flex;
		padding: 26px 0px;
		#work,
		#education{
			width: 100%;
			h2{
				border-bottom: 1px solid $cor-borda;
				padding-bottom: 20px;
			}
		}
	}
	.container {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		display: grid;
		grid-auto-flow: column;
		@include tablet-landscase{
			width: 100%;
		}
		@include desktop{
				width: 1200px;
				max-width: 1200px;
		}
		.row {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			.col-100{
				position: relative;
			    width: 100%;
			    padding-right: 15px;
			    padding-left: 15px;
				&.col-tb-40{
					@include tablet{
						-ms-flex: 0 0 40%;
    					flex: 0 0 40%;
    					max-width: 40%;
					}
				}
				&.col-tb-60{
					@include tablet{
						-ms-flex: 0 0 60%;
    					flex: 0 0 60%;
    					max-width: 60%;
					}
				}
			}
		}
		div{
			align-items: left;
			min-height: 1px;
			position: relative;
		}
	}
}